extends ../layouts/layout.pug

block site__content
  section.main
    .main__left.clearfix
      .main__cat
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
    .main__right.clearfix
      .overlay.overlay_bg_light
        .main__header
          h1.main__title Online store title text
