extends ../layouts/layout.pug

block site__content
  section.main
    .main__left.clearfix
      .main__cat
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
        a.main__link(href='#') Category menu item
    .main__right.clearfix
      .overlay.overlay_bg_light
      .main__body
        .main__header
          h1.main__title Online store title text
  section.section.category
    .container
      .section__header
        .row
          .col-sm-12
            h2.section__title Популярные
      .section__content
        .row
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
        .row
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
          .col-sm-6.col-md-3
            .product
              .product__thumb
                a.link(href='#')
                  img.product__img(alt='Product', src='assets/img/products/product.jpg')
              h3.product__title
                a.product__link(href='#') Product title
              .product__desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at lacus aliquam, convallis nisi eu, convallis ex. Sed nec magna quis dolor vestibulum ultrices.
              .product__price 2 990 руб.
              .button-group
                button.button(type='submit')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-heart(aria-hidden='true')
                button.button(type='submit')
                  i.fa.fa-list(aria-hidden='true')
  section.section.contacts
    .overlay.overlay_bg_dark
    .contacts__body
      .container
        .section__header
          .row
            .col-sm-12
              h2.section__title.section__title_color_light Контакты
        .section__content
          .row
            .col-sm-12
              .contacts__item
                i.fa.fa-mobile.contacts__fa(aria-hidden='true')
                | +7 (123) 456-78-90
              .contacts__item
                i.fa.fa-map-marker.contacts__fa(aria-hidden='true')
                | Online store address text
              .contacts__item
                i.fa.fa-envelope-o.contacts__fa(aria-hidden='true')
                | example@example
