footer.site__footer.footer
  .container
    .row
      .col-sm-3
        .bottom-nav
          h3.bottom-nav__title Bottom nav title
          ul.bottom-nav__list
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
      .col-sm-3
        .bottom-nav
          h3.bottom-nav__title Bottom nav title
          ul.bottom-nav__list
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
      .col-sm-3
        .bottom-nav
          h3.bottom-nav__title Bottom nav title
          ul.bottom-nav__list
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
      .col-sm-3
        .bottom-nav
          h3.bottom-nav__title Bottom nav title
          ul.bottom-nav__list
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
            li.bottom-nav__item
              a.bottom-nav__link(href='#') Bottom nav item link
    .row
      .col-sm-12
        .footer__line
    .row
      .col-sm-12
        .copyright Copyright, 2017 г.
