.bottom-nav
  padding 10px 10px 0
.bottom-nav__title
  font-size round(fontSize * 1.2)
  color lightColor
  margin 0 0 5px
.bottom-nav__list
  padding-left 15px
.bottom-nav__item
  padding 2px 0
.bottom-nav__link
  color lightColor
  &:focus
    outline 0
  &:hover
    text-decoration none
    color lightColor
